<button class="category-type">
    <div class="category-icon">
        <i class="fas {{icon}} fa-lg"></i>
    </div>
    <div class="category-type-details">
        <div class="category-type-info">
            <span class="category-title">{{categoryName}}</span>
            {{percent}}% used
        </div>
        <div class="category-status-bar">
            <div class="bar-value" style="width: {{percent}}%"></div>
        </div>
    </div>
</button>