<div class="income-item">
<div class="income-item-description">{{description}}</div>
    <div class="income-edit">
        <div class="income-item-price">{{amount}}</div>
        <div class="edit-btn" onclick="onClickBtnEdit(this)">
            <i class="fas fa-edit"></i>
        </div>
        <div class="hiddenID" style="display:none">{{_id}}</div>
    </div>
</div>
