<div class="card-row category">
    <div class="category-list-item">
        <div class="category-list-icon">
            <i class="fas {{icon}} fa-fw"></i>
        </div>
        {{categoryName}}
        <div class="category-list-color" style="background-color:{{color}}"></div>
    </div>
    {{amountLeft}}
</div>