<div class="achievement-category locked">
    {{name}}
</div>

<div class="achievement-item">
    <div class="achievement-details">
        <div class="category-item-description locked">{{description}}</div>
    </div>
</div>