<div id="nav-bar">
    <div id="app-name">
        Kuuhaku
    </div>
    <ul>
        <a href="landing">
            <li><i class="fas fa-home fa-fw"></i><span class="link-text">Home</span></li>
        </a>
        <hr>
        <a href="budget">
            <li><i class="fas fa-wallet fa-fw"></i><span class="link-text">Budget</span></li>
        </a>
        <hr>
        <a href="income">
            <li><i class="fas fa-money-bill-wave fa-fw"></i><span class="link-text">Income</span></li>
        </a>
        <hr>
        <a href="achievements">
            <li><i class="fas fa-trophy fa-fw"></i><span class="link-text">Achievements</span></li>
        </a>
        <hr>
        <a href="account">
            <li><i class="fas fa-user-circle fa-fw"></i><span class="link-text">Account</span></li>
        </a>
        <hr>
        <a href="about">
            <li><i class="fas fa-info-circle fa-fw"></i><span class="link-text">About</span></li>
        </a>
        <hr>
    </ul>
</div>