<div class="right-col">
    <div class="profile">
        <div class="profile-avatar">
            {{> account_avatar}}
        </div>
        <div class="profile-lvl">
            <div class="lvl-lbl">LVL</div>
            <div id="lvl">{{level}}</div>
        </div>
        <div class="profile-info">
            <div class="profile-name">
                Lvl {{level}} {{displayname}}
            </div>
            <table class="profile-status-bar">
                <tr>
                    <td class="status-type">HP</td>
                    <td>
                        {{> progress_bar color=hpColor percent=hpPercent}}
                    </td>
                </tr>
                <tr>
                    <td class="status-type">XP</td>
                    <td>
                        {{> progress_bar color=xpColor percent=xpPercent}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-12 transactions-history">
        <h1 class="mini-header-1" id="transactions-header">TRANSACTIONS</h1>
        <form class="search-bar">
            <div class="search-box">
                <input type="text" placeholder="Search..." id="search-box">
                <button type="submit" id="search-btn">
                    <i class="fas fa-search fa-fw"></i>
                </button>
            </div>
        </form>
        <div id="transactions-log">

        </div>
    </div>
</div>