<div class="achievement-category">
    {{name}}
</div>

<div class="achievement-item">
    <div class="achievement-details">
        <div class="category-item-description">{{description}}</div>
        <i class="fas fa-trophy reward"></i>
    </div>
</div>