body{
    width: 100%;
}

.content-row{
    width: 100%;
}

.avatar{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar > input{
	width: 150px;
    color: #FFCB17;
    background-color: #1B0E44;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #FFCB17;
    outline: none;
    /* box- */
}

#save-change{
    width: 150px;
    margin: auto;
    left: 50%;
	margin-top: 20px;
}
#display-name{
	text-align:center;
	position: relative;
	display: flex;
	margin: auto;
}

.field {
	background-color: #BCC3FF;
	color: #1B0E44;
    border: 1px solid #BCC3FF;
}

[type=radio]{
    display: none;
}

[type=radio]:checked + label > img{
    box-shadow: 0 0 50px rgb(64, 19, 189);
}

.cosmetics > table{
	margin:10px;
	padding:5px;
	border-spacing:5px;
}
td{
	background-color:#BCC3FF;
	border-radius:15px;
}

.highlight{
	border-radius:10px;
}

.type-btn {
	border: none;
	outline: none;
	background-color: inherit;
	color: inherit;
	
}

.imageWrapper {
  position: relative;
}
.overlayImage {
  position: absolute;
  top: 0;
  left: -170px;
  height:400px;
}

#body-overlay {
	left: -165px;
	top: -3px;
}

#hairbehind-overlay {
		left: -171px;
		top: 3px;
}

.option {
	max-width: 120px;
}

/*---Toggle slider css taken and modified from w3schools---*/ 
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: -30px;
  left: 0;
  right: 0;
  bottom: 30px;
  background-color: #F8B9D4;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #6CA0DC;
}

input:focus + .slider {
  box-shadow: 0 0 1px #6CA0DC;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


#mars {
	font-size: 250%;
}

#venus {
	font-size: 250%;
}